# Construcción del dataset

En la carpeta `assets` se encuentran dos archivos CSV que contienen información de tweets en Inglés con su respectiva clasificación de sentimiento. El objetivo de este notebook es construir un dataset que contenga la información de ambos archivos. Se seleccionaran de cada archivo 2000 tweets positivos, 2000 tweets negativos y 2000 neutral. Se traducirán los tweets al español y se almacenarán en un archivo CSV.

In [1]:
# Instalación de librerías
%pip install -r '../requirements.txt'

Requirement already satisfied: pandas==2.2.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from -r ../requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from -r ../requirements.txt (line 2)) (1.5.1)
Requirement already satisfied: EasyNMT==2.0.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from -r ../requirements.txt (line 3)) (2.0.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 1)) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 1)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 1)) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from scikit-learn==1.5.1->-r ../requirements.txt (line 2)) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from scikit-learn==1.5.1->-r ../requirements.txt (line 2)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from scikit-learn==1.5.1->-r ../requirements.txt (line 2)) (3.5.0)
Requirement already satisfied: tqdm in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (4.66.5)
Requirement already satisfied: transformers<5,>=4.4 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (4.44.0)
Requirement already satisfied: torch>=1.6.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2.4.0)
Requirement already satisfied: nltk in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.8.2)
Requirement already satisfied: sentencepiece in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: fasttext in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (0.9.3)
Requirement already satisfied: protobuf in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (5.27.3)
Requirement already satisfied: six>=1.5 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->-r ../requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: filelock in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.15.4)
Requirement already satisfied: typing-extensions>=4.8.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (4.12.2)
Requirement already satisfied: sympy in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: networkx in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.3)
Requirement already satisfied: jinja2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.1.4)
Requirement already satisfied: fsspec in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2024.6.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (0.24.5)
Requirement already satisfied: packaging>=20.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2024.7.24)
Requirement already satisfied: requests in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2.32.3)
Requirement already satisfied: safetensors>=0.4.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (0.4.4)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (0.19.1)
Requirement already satisfied: pybind11>=2.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from fasttext->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2.13.1)
Requirement already satisfied: setuptools>=0.7.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from fasttext->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (72.1.0)
Requirement already satisfied: click in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from nltk->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from jinja2->torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from requests->transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from requests->transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from requests->transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from requests->transformers<5,>=4.4->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (2024.7.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-project/lib/python3.10/site-packages (from sympy->torch>=1.6.0->EasyNMT==2.0.2->-r ../requirements.txt (line 3)) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importación de librerías
import pandas as pd
from sklearn.model_selection import train_test_split

#### Dataset 1

In [3]:
# Lectura dataset 1
header = ['id', 'entity', 'sentiment', 'text']
dataset1_no_procesado = pd.read_csv('./assets/dataset1-no-procesado.csv', delimiter=',', encoding='utf-8', names=header)
# Descrición dataset
print(dataset1_no_procesado.describe())
# Visualización primeros registros
dataset1_no_procesado.head()

                 id
count  74682.000000
mean    6432.586165
std     3740.427870
min        1.000000
25%     3195.000000
50%     6422.000000
75%     9601.000000
max    13200.000000

,id,entity,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [4]:
# Limpieza dataset 1
dataset1_procesado = dataset1_no_procesado.dropna()
dataset1_procesado = dataset1_procesado.drop_duplicates(subset='text')
dataset1_procesado = dataset1_procesado[dataset1_procesado['text'] != '']
dataset1_procesado = dataset1_procesado[(dataset1_procesado['sentiment'] == 'Positive') | 
                                        (dataset1_procesado['sentiment'] == 'Negative') | 
                                        (dataset1_procesado['sentiment'] == 'Neutral')]
# Descrición dataset
print(dataset1_procesado.describe())

                 id
count  57275.000000
mean    6537.770423
std     3761.777501
min        1.000000
25%     3239.000000
50%     6758.000000
75%     9695.000000
max    13198.000000

In [5]:
# Selección de columnas
dataset1_procesado = dataset1_procesado[['text', 'sentiment']]
dataset1_procesado.head()

                                                text sentiment
0  im getting on borderlands and i will murder yo...  Positive
1  I am coming to the borders and I will kill you...  Positive
2  im getting on borderlands and i will kill you ...  Positive
3  im coming on borderlands and i will murder you...  Positive
4  im getting on borderlands 2 and i will murder ...  Positive

In [6]:
# Selección aleatoria de 5000 para cada clase
dataset1_procesado = dataset1_procesado.groupby('sentiment').apply(lambda x: x.sample(n=5000)).reset_index(drop=True)
# Descripción dataset
print(dataset1_procesado['sentiment'].value_counts())
print(dataset1_procesado['text'].head())

sentiment
Negative    5000
Neutral     5000
Positive    5000
Name: count, dtype: int64
0    Ohh please make wattson and crypto be friends ...
1    @NBA2K fix your servers so bad, trash af and c...
2    and I entered a date following the standard YY...
3                  I am being twisted like a hot rock.
4    Just stumbled across Microsoft Rewards - it se...
Name: text, dtype: object

/var/folders/kr/066v09l56c9_4l91brw4fwdc0000gn/T/ipykernel_3191/3795909681.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset1_procesado = dataset1_procesado.groupby('sentiment').apply(lambda x: x.sample(n=5000)).reset_index(drop=True)

##### Dataset 2

In [7]:
# Lectura dataset 2
dataset2_no_procesado = pd.read_csv('./assets/dataset2-no-procesado.csv', delimiter=',', encoding='unicode_escape')
# Descrición dataset
print(dataset2_no_procesado.describe())
# Visualización primeros registros
dataset2_no_procesado.head()

       Population -2020  Land Area (Km²)  Density (P/Km²)
count      2.748100e+04     2.748100e+04     27481.000000
mean       4.018497e+07     6.621730e+05       357.686583
std        1.504946e+08     1.807425e+06      2013.750702
min        8.010000e+02     0.000000e+00         2.000000
25%        1.968001e+06     2.281000e+04        35.000000
50%        8.655535e+06     1.118900e+05        89.000000
75%        2.843594e+07     5.279700e+05       214.000000
max        1.439324e+09     1.637687e+07     26337.000000

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [8]:
# Limpieza dateset 2
dataset2_procesado = dataset2_no_procesado.dropna()
dataset2_procesado = dataset2_procesado[dataset2_procesado['selected_text'] != '']
dataset2_procesado = dataset2_procesado.drop_duplicates(subset='selected_text')
dataset2_procesado = dataset2_procesado[(dataset2_procesado['sentiment'] == 'positive') | 
                                        (dataset2_procesado['sentiment'] == 'negative') | 
                                        (dataset2_procesado['sentiment'] == 'neutral')]
# Descrición dataset
print(dataset1_procesado.describe())

                                                     text sentiment
count                                               15000     15000
unique                                              15000         3
top     Ohh please make wattson and crypto be friends ...  Negative
freq                                                    1      5000

In [9]:
# Selección de columnas
dataset2_procesado = dataset2_procesado[['selected_text', 'sentiment']]
# Renombrar columnas
dataset2_procesado.columns = ['text', 'sentiment']
dataset2_procesado.head()

                                  text sentiment
0  I`d have responded, if I were going   neutral
1                             Sooo SAD  negative
2                          bullying me  negative
3                       leave me alone  negative
4                        Sons of ****,  negative

In [10]:
# Selección aleatoria de 5000 para cada clase
dataset2_procesado = dataset2_procesado.groupby('sentiment').apply(lambda x: x.sample(n=5000)).reset_index(drop=True)
# Descripción dataset
print(dataset2_procesado['sentiment'].value_counts())
print(dataset2_procesado['text'].head())

sentiment
negative    5000
neutral     5000
positive    5000
Name: count, dtype: int64
0               Sleep-fail.
1     realise what tourture
2                not proud.
3    I always feel so sorry
4                FRUSTRADED
Name: text, dtype: object

/var/folders/kr/066v09l56c9_4l91brw4fwdc0000gn/T/ipykernel_3191/4195809176.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset2_procesado = dataset2_procesado.groupby('sentiment').apply(lambda x: x.sample(n=5000)).reset_index(drop=True)

# Juntar los dos datasets en un solo archivo CSV

In [11]:
# Unión de datasets
dataset = pd.concat([dataset1_procesado, dataset2_procesado])
# Dejar clases en minúsculas
dataset['sentiment'] = dataset['sentiment'].str.lower()
# Descripción dataset
print(dataset['sentiment'].value_counts())

sentiment
negative    10000
neutral     10000
positive    10000
Name: count, dtype: int64

In [12]:
# Exportación dataset 30000 registros
# train  = 80% = 24000 registros
# test = 20% = 6000 registros ->
dataset_train, dataset_other = train_test_split(dataset, test_size=0.2, random_state=42, stratify=dataset['sentiment'])
dataset_test, dataset_validation = train_test_split(dataset_other, test_size=0.5, random_state=42, stratify=dataset_other['sentiment'])
dataset_train.to_csv('./dist/dataset-spanish-tweets-train.csv', index=False, encoding='utf-8')
dataset_test.to_csv('./dist/dataset-spanish-tweets-test.csv', index=False, encoding='utf-8')
dataset_validation.to_csv('./dist/dataset-spanish-tweets-validation.csv', index=False, encoding='utf-8')

In [16]:
print('Total registros:', dataset.shape[0])
print('Train registros:', dataset_train.shape[0])
print('Test registros:', dataset_test.shape[0])
print('Validation registros:', dataset_validation.shape[0])

Total registros: 30000
Train registros: 24000
Test registros: 3000
Validation registros: 3000